{
    "plugins": [
      "@babel/plugin-syntax-dynamic-import",
      "@babel/plugin-syntax-import-meta",
      ["@babel/plugin-transform-class-properties", { "loose": false }],
      "@babel/plugin-transform-json-strings"
    ]
  }
  
  